/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    width: 100%;
    font-family: 'Open Sans';
}

#content {
    width: 100%;
    position: absolute;
}

#content-inner {
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#top-bar {
    background-color: #721A44;
    position:fixed;
    top: 0;
    left: 200px;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #F2368F;
    z-index: 999;
}

#footer-player {
    background-color: #721A44;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid #F2368F;
    z-index: 999;
}

#info-right {
    background-color: #721A44;
    position:fixed;
    bottom: 50px;
    left: 0px;
    top: 0;
    width: 200px;
    z-index: 999;
}

#logo-top {
    background-image: url('../images/logo-ponify-white.png');
    background-size: contain;
    width: 200px;
    height: 65px;
    position: absolute;
    top: 20px;
    left: 0;
}

#short-nav ul {
    position: absolute;
    top: 0;
    bottom: 0;
}

#short-nav ul li {
    display: table-cell;
    border-left: 2px solid white;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    margin-left: 0px;
    vertical-align: middle;
}

#short-nav ul li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

#short-nav ul li.recommended {
    border-right: 2px solid white;
}

.trending {
    color: white;
    background-color: #F25C05;
}

.favourites {
    color: white;
    background-color: #145E8C;
}

.playlists {
    color: white;
    background-color: #09A603;
}

.recommended {
    color: white;
    background-color: #F2B705;
}

#album-cover {
    position: absolute;
    background-image: url('../images/nocover.jpg');
    background-size: cover;
    width: 200px;
    height: 200px;
    bottom: 0;
    left: 0;
}

#account-section {
    position: fixed;
    right: 0;
    display: inline-block;
    height: 100px;
}

#account-nav {

}

#user-avatar {
    height: 50px;
    width: 50px;
    background-size: cover;
}
