body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';

}

#logo {
    width: 270px;
    height: 90px;
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url(../images/logo-ponify-white.png);
    background-size: contain;
}

#topbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 99999;
}

#memberbox {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 5px;
    height: 90px;
}

#memberbox ul li {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    font-family: 'Open Sans';
    margin-bottom: 1px;
    border-radius: 28px;
}

#memberbox ul li#login {
    background-color: #09A603;
}

#memberbox ul li#register {
    background-color: #F25C05;
}

#pagecontent {
    height: 100%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;

}

input[type="email"] {
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    font-size: 24px;
}
input[type="email"]:focus,
input[type="email"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
