body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#collage {
    height: 100%;
    width: 100%;
    background-image: url('../images/collage.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}   

#logo {
    width: 270px;
    height: 90px;
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url(../images/logo-ponify-white.png);
    background-size: contain;
}

#topbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 99999;
}

#memberbox {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 5px;
    height: 90px;
}

#memberbox ul li {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    font-family: 'Open Sans';
    margin-bottom: 1px;
    border-radius: 28px;
}

#memberbox ul li#login {
    background-color: #09A603;
}

#memberbox ul li#login:hover, #memberbox ul li#register:hover {
    background-color: #555555;
    content: 'Not Available Yet';
}

#memberbox ul li#register {
    background-color: #F25C05;
}

#collagetext {
    font-family: 'Open Sans';
    font-size: 72px;
    color: white;
    width: 100%
}

#actualcollagetext {
    background-color: rgba(53,12,32,0.8);
}

#betaregister {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    background-color: #145E8C;
    color: white;
    font-family: 'Open Sans';
    padding: 15px;
    border-radius: 73px;
}

#betaregister:hover {
    background-color: #F25C05;
}

#scrollto2 {
    width: 100px;
    height: 100px;
    position: absolute;
    color: white;
    background-color: #721A44;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    font-size: 56px;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
}

#page2 {
    height: 500px;
    width: 100%;
    text-align: center;
    background-image: url('../images/paparblue.jpg');
    display:flex;
    justify-content:center;
    align-items:center;
}

#page2content {
    text-align: center;
    font-family: 'Open Sans';
    color: white;
    vertical-align: middle;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

#page2image {
    width: 500px;
}

#page2text {
    width: 30%;
    text-align: center;
    margin-left: 30px;
}

#page2text span {
    line-height: normal;
}

#page3 {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url('../images/flstudioproc.jpg');
    display:flex;
    justify-content:center;
    align-items:center;
}

#page3content {
    font-family: 'Open Sans';
    color: white;
    background-color: rgba(53,12,32,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

#page3content div > * {
    vertical-align: middle;
    line-height: normal;
}

#page3image {
    width: 500px;
}

#page3text {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

#page3text span {
    line-height: normal;
}

#page4 {
    height: 300px;
    width: 100%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('../images/papargreen.jpg');
}

#page4content {
    font-family: 'Open Sans';
    color: white;
}

#betaregister {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    background-color: #145E8C;
    color: white;
    font-family: 'Open Sans';
    padding: 15px;
    border-radius: 73px;
}
#footer {
    height: 50px;
    line-height: 50px;
    background-color: #333;
    text-align: center;
    color: white;
    font-family: 'Open Sans';
}